.banners-container {
  position: relative;
  display: flex;
  color: white;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.banner-container { 
  height: 100%;
}

.banner-container--transition {
  transition: transform .3s ease;
}
